<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
     
      <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
        <a class="nav-link" [routerLink]="[ '/home/dashboard' ]" routerLinkActive #dashboard="routerLinkActive">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      

  

      <li class="nav-item" [ngClass]="{'active' : dashboard.isActive || appointment.isActive || patients.isActive || settings.isActive || p_reports.isActive  }">
        <a class="nav-link" (click)="doctors = !doctors" [attr.aria-expanded]="doctors" aria-controls="ui-basic">
          <span class="menu-title">Doctors</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic" [ngbCollapse]="!doctors">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/doctors/dashboard' ]" routerLinkActive="active" #dashboard="routerLinkActive">Dashboard</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/doctors/appointment' ]" routerLinkActive="active" #appointment="routerLinkActive">Appointment</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/doctors/patients' ]" routerLinkActive="active" #patients="routerLinkActive">Patients</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/doctors/settings' ]" routerLinkActive="active" #settings="routerLinkActive">Settings</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/doctors/p_reports' ]" routerLinkActive="active" #p_reports="routerLinkActive">Patient Reports</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" [ngClass]="{'active' : complain.isActive || home.isActive  }">
        <a class="nav-link" (click)="landing = !landing" [attr.aria-expanded]="landing" aria-controls="ui-basic">
          <span class="menu-title">landing</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic" [ngbCollapse]="!landing">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/landing/complain' ]" routerLinkActive="active" #complain="routerLinkActive">Complain</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="[ '/landing/home' ]" routerLinkActive="active" #home="routerLinkActive">Home</a></li>
          </ul>
        </div>
      </li>

  

    </ul>
  </nav>
  