
   
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="http://localhost:3000/manager">Receptionist</a>
          </li>
          <li class="breadcrumb-item active">Current Patients</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> List of Current Patients
          </div>
  
          <div class="card-body">
            <div class="table-responsive">
  
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  
                <thead>
                  <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date Of Appointment</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Room ID</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date Of Appointment</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Room ID</th>
                  </tr>
                </tfoot>
                <tbody>
                 
                      <tr>
                        <td><%= list[i].id %></td>
                        <td><%= list[i].name %></td>
                        <td><%= list[i].doa.getDate() %> - <%= list[i].doa.getMonth() + 1 %> - <%=list[i].doa.getFullYear()%></td>
                        <td><%= list[i].sex %></td>
                        <td><%= list[i].contact %></td>
                        <td><%= list[i].d_id %></td>
                        <td><%= list[i].d_name %></td>
                        <td><%= list[i].room %></td>
                      </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
      </div>
     
  </div>
  

