

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="http://localhost:3000/home">Infinity</a>
	   </div> 


		

			

	   	 

			
		
	</header> <!-- end header -->  


   <!-- home
   ================================================== -->
   <section id="home" >

   	<div class="overlay"></div>

   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve" >		   			
			  		
			  			
				  			<h1 class="animate-intro" style="color: white;">
							PrimeCare <br>
	
				  			</h1>	
                     <h2></h2>

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" onclick="openComplain()" href="#">
				  				 Complaints
				  				</a>
				  				
				  			</div>	
                     <div><label style="color: white; margin-top: 50px; font-size: 20px;" ><a style="color: white;" href="http://localhost:3000/login">For Staff Login, Click HERE</a></label></div>						

			  		</div> <!-- end col-twelve --> 
		   	</div> 
            <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->
 <!-- end home-social-list -->		
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About Us</h3>
	   			<p class="lead animate-this"><span>Infinity</span> is a creative digital agency based in Manila, Philippines. We are composed of creative designers and experienced developers.</p>	
				</div>   

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   
	<!-- stats
   ================================================== -->
   


	<!-- contact
   ================================================== -->
  


	<!-- footer
   ================================================== -->
	
   	

      	
   

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

