
    <img src="./../../../assets/background.jpg" class="img-fluid background" alt="background"  >
    <div class="container mt-5 mb-3">
            
            <div class="row">
              <div class="col">
                <h3 class="text-center">Patient Management</h3>
                <p>When making any changes to the Sass variables or maps, you’ll need to save your changes and recompile. Doing so will output a brand new set of predefined grid classes for column widths, offsets, and ordering. 
                    Responsive visibility utilities will also be updated to use the custom breakpoints. Make sure to set grid values in px (not rem, em, or %).</p>
                    <img src="./../../../assets/background.jpg" class="img-fluid">
              </div>
              <div class="col">
                    <h3 class="text-center">Patient Management</h3>
                    <p>When making any changes to the Sass variables or maps, you’ll need to save your changes and recompile. Doing so will output a brand new set of predefined grid classes for column widths, offsets, and ordering. 
                            Responsive visibility utilities will also be updated to use the custom breakpoints. Make sure to set grid values in px (not rem, em, or %).</p>
                            <img src="./../../../assets/background.jpg" class="img-fluid">
              </div>
              <div class="col">
                    <h3 class="text-center">Patient Management</h3>
                    <p>When making any changes to the Sass variables or maps, you’ll need to save your changes and recompile. Doing so will output a brand new set of predefined grid classes for column widths, offsets, and ordering. 
                            Responsive visibility utilities will also be updated to use the custom breakpoints. Make sure to set grid values in px (not rem, em, or %).</p>
                            <img src="./../../../assets/background.jpg" class="img-fluid">
              </div>
            </div>
          </div>



