<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>

        <div class="form-group">
          <label class="col-md-4">Drug Name</label>
          <input type="text" class="form-control" 
            formControlName="DrugName" 
            #DrugName />
        </div>

        <div *ngIf="angForm.controls['DrugName'].invalid && (angForm.controls['DrugName'].dirty || angForm.controls['DrugName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['DrugName'].errors.required">
            Drug Name is required.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">Drug Description </label>
          <textarea class="form-control" rows = 7 cols = "5"
          formControlName="DrugDescription" 
          #DrugDescription></textarea>
        </div>

        <div *ngIf="angForm.controls['DrugDescription'].invalid && (angForm.controls['DrugDescription'].dirty || angForm.controls['ProductDescription'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['DrugDescription'].errors.required">
            Drug Description is required.
          </div>
        </div>
        
        
        <div class="form-group">
          <button (click) = "addDrug(DrugName.value, DrugDescription.value)" type="submit" class="btn btn-primary"
          [disabled]="angForm.pristine || angForm.invalid" >
            Create Drug
          </button>
        </div>
        
      </form>
    </div>
  </div>