

<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="#">Manager</a>
  </li>
  <li class="breadcrumb-item active">Add Staff - Doctor</li>
</ol>

<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>

        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" 
            formControlName="Name" 
            #Name />
        </div>
        <div *ngIf="angForm.controls['Name'].invalid && (angForm.controls['Name'].dirty || angForm.controls['Name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['Name'].errors.required">
            Name  is required.
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Qualification</label>
            <input type="text" class="form-control" 
              formControlName="Qualification" 
              #Qualification />
          </div>
          <div *ngIf="angForm.controls['Qualification'].invalid && (angForm.controls['Qualification'].dirty || angForm.controls['Qualification'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Qualification'].errors.required">
             Qualification is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Type</label>
            <input type="text" class="form-control" 
              formControlName="Type" 
              #Type />
          </div>
          <div *ngIf="angForm.controls['Type'].invalid && (angForm.controls['Type'].dirty || angForm.controls['Type'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Type'].errors.required">
              Type is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">PrevExperience</label>
            <input type="text" class="form-control" 
              formControlName="PrevExperience" 
              #PrevExperience />
          </div>
          <div *ngIf="angForm.controls['PrevExperience'].invalid && (angForm.controls['PrevExperience'].dirty || angForm.controls['PrevExperience'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['PrevExperience'].errors.required">
                PrevExperience is required.
            </div>
          </div>

          

          <div class="form-group">
            <label class="col-md-4">Salary</label>
            <input type="text" class="form-control" 
              formControlName="Salary" 
              #Salary />
          </div>
          <div *ngIf="angForm.controls['Salary'].invalid && (angForm.controls['Salary'].dirty || angForm.controls['Salary'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Salary'].errors.required">
                Salary is required.
            </div>
          </div>
       
          <div class="form-group">
            <label class="col-md-4">Address</label>
            <input type="text" class="form-control" 
              formControlName="Address" 
              #Address />
          </div>
          <div *ngIf="angForm.controls['Address'].invalid && (angForm.controls['Address'].dirty || angForm.controls['Address'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Address'].errors.required">
                Address is required.
            </div>
          </div>

          

          <div class="form-group">
            <label class="col-md-4">City</label>
            <input type="text" class="form-control" 
              formControlName="City" 
              #City />
          </div>
          <div *ngIf="angForm.controls['City'].invalid && (angForm.controls['City'].dirty || angForm.controls['City'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['City'].errors.required">
                City is required.
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-4">State</label>
            <input type="text" class="form-control" 
              formControlName="State" 
              #State />
          </div>
          <div *ngIf="angForm.controls['State'].invalid && (angForm.controls['State'].dirty || angForm.controls['State'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['State'].errors.required">
                State is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Email</label>
            <input type="text" class="form-control" 
              formControlName="Email" 
              #Email />
          </div>
          <div *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Email'].errors.required">
                Email is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">AlternateEmail</label>
            <input type="text" class="form-control" 
              formControlName="AlternateEmail" 
              #AlternateEmail />
          </div>
          <div *ngIf="angForm.controls['AlternateEmail'].invalid && (angForm.controls['AlternateEmail'].dirty || angForm.controls['AlternateEmail'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['AlternateEmail'].errors.required">
                AlternateEmail is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Contact</label>
            <input type="text" class="form-control" 
              formControlName="Contact" 
              #Contact />
          </div>
          <div *ngIf="angForm.controls['Contact'].invalid && (angForm.controls['Contact'].dirty || angForm.controls['Contact'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Contact'].errors.required">
                Contact is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">AlternateContact</label>
            <input type="text" class="form-control" 
              formControlName="AlternateContact" 
              #AlternateContact />
          </div>
          <div *ngIf="angForm.controls['AlternateContact'].invalid && (angForm.controls['AlternateContact'].dirty || angForm.controls['AlternateContact'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['AlternateContact'].errors.required">
                AlternateContact is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Gender</label>
            <input type="text" class="form-control" 
              formControlName="Gender" 
              #Gender />
          </div>
          <div *ngIf="angForm.controls['Gender'].invalid && (angForm.controls['Gender'].dirty || angForm.controls['Gender'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Gender'].errors.required">
                Gender is required.
            </div>
          </div>
 


        <div class="form-group">
          <button (click) = "addEmployee(Name.value,Qualification.value,Type.value,PrevExperience.value,Salary.value,Address.value,City.value,State.value,Email.value,AlternateEmail.value,Contact.value,AlternateContact.value,Gender.value)" type="submit" class="btn btn-primary"
          [disabled]="angForm.pristine || angForm.invalid" >
            Add Doctor
          </button>
        </div>

      </form>
    </div>
  </div>