<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent3">
      <ul class="navbar-nav  ml-auto mr-5">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Appointmnet
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item"  [routerLink]="[ 'add-appointment' ]">add-appointment</a>
            <a class="dropdown-item"  [routerLink]="[ 'appointment-reports' ]"> appointment-reports</a>
          </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                fees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-fees' ]">add-fees</a>
              <a class="dropdown-item"  [routerLink]="[ 'fees-reports' ]">fees-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patient
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-patient' ]">add-patient</a>
              <a class="dropdown-item"  [routerLink]="[ 'patient-reports' ]">patient-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Patient Medicine
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-patient-medicine' ]">add-patient-medicine</a>
              <a class="dropdown-item"  [routerLink]="[ 'patient-medicine-reports' ]">patient-medicine-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patient Test
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-patient-test' ]">add-patient-test</a>
              <a class="dropdown-item"  [routerLink]="[ 'patient-test-reports' ]">patient-test-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prescription
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-prescription' ]">add-prescription</a>
              <a class="dropdown-item"  [routerLink]="[ 'prescription-reports' ]">prescription-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-schedule' ]">add-schedule</a>
              <a class="dropdown-item"  [routerLink]="[ 'schedule-reports' ]">schedule-reports</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tests
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-tests' ]">add-tests</a>
              <a class="dropdown-item"  [routerLink]="[ 'tests-reports' ]">tests-reports</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Timeslot
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-timeslot' ]">add-timeslot</a>
              <a class="dropdown-item"  [routerLink]="[ 'timeslot-reports' ]">timeslot-reports</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-user' ]">add-user</a>
              <a class="dropdown-item"  [routerLink]="[ 'user-reports' ]">user-reports</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-product' ]">add-product</a>
              
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add DrugInfo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <a class="dropdown-item"  [routerLink]="[ 'add-druginfo' ]">add-druginfo</a>
              
            </div>
          </li>
            
      </ul>
      
    </div>
  </nav>

  <br><hr>


  <input type="button" (click)="onLogout()" value="Logout" />

  


