<table class="table table-hover">
    <thead>
    <tr>
        <td>EmployeeName</td>
        <td>Sex</td>
        <td>Salary</td>
        <td>Type</td>
        <td>Contact</td>
        <td>Email</td>
        <td>Address</td>
        <td>City</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
   

    <tbody>
        <tr *ngFor="let product of employees">
            <td>{{ product.EmployeeName }}</td>
            <td>{{ product.Sex }}</td>
            <td>{{ product.Salary }}</td>
            <td>{{ product.Type }}</td>
            <td>{{ product.Contact }}</td>
            <td>{{ product.Email }}</td>
            <td>{{ product.Address }}</td>
            <td>{{ product.City }}</td>
            <td><a [routerLink]="['/edit', employees._id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteEmployee(employees._id)" class="btn btn-danger">Delete</a>
        </tr>
    </tbody>
  </table>