<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h6>Patient Name:</h6><br>
            <p>Mr Chandra</p>
        </div>
        <div class="col-md-6">
            <h6>Patient Status:</h6><br>
            <p> In Patient</p>
        </div>
        <div class="col-md-6">
            <h6>Mobile Number:</h6><br>
            <p>1234</p>
        </div>
        <div class="col-md-6">
            <h6>Age:</h6><br>
            <p>50</p>
        </div>
        <div class="col-md-6">
            <h6>Appointment Duration:</h6><br>
            <p>10</p>
        </div>
        <div class="col-md-6">
            <h6>Gender:</h6><br>
            <p> M</p>
        </div>
        <div class="col-md-6">
            <h6>Scheduled Start Time:</h6><br>
            <p>1:30am</p>
        </div>
        <div class="col-md-6">
            <h6>Scheduled End Time:</h6><br>
            <p> 1:40am </p>
        </div>
        <div class="col-md-6">
            <h6>Scheduled Date:</h6><br>
            <p>27/05/2016</p>
        </div>
        <div class="col-md-6">
            <h6>Reason To Visit:</h6><br>
            <p> for checkup </p>
        </div>
        <div class="col-md-6">
            <h6>Reference By:</h6><br>
            <p>imran</p>
        </div>
    </div>
</div>
