<!-- 

    <div class="content-wrapper">
      <div class="container-fluid">
        
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="http://localhost:3000/manager">Manager</a>
          </li>
          <li class="breadcrumb-item active">Modify Staff Details</li>
        </ol>
        
          <div class="agile-header">
      <h1>MODIFY STAFF DETAILS</h1>
      <p>Please fill appropriate and accurate values in each field. The staff would receive an e-mail about this modification.</p>
      <p>Any field, if left blank, would not be changed.</p>
    </div>
    
    <div class="agileits-main">
      <div class="wrap">
      <form method="post">
        <ul>
          <li class="text">User ID  :  </li>
          <li><input name="userid" type="text" required></li>
        </ul>
        <ul>
          <li class="text">Salary  :  </li>
          <li><input name="salary" type="text" ></li>
        </ul>
        <ul>
          <li class="text">E-mail  :  </li>
          <li><input name="mail" type="text" ></li>
        </ul>
        <ul>
          <li class="text">Alternate E-mail  :  </li>
          <li><input name="amail" type="text" ></li>
        </ul>
        <ul>
          <li class="text">Contact  :  </li>
          <li><input name="contact" type="text" ></li>
        </ul>
        <ul>
          <li class="text">Alternate Contact  :  </li>
          <li><input name="acontact" type="text" ></li>
        </ul>
        <ul>
          <li class="text">address  :  </li>
          <li><input name="addr" type="text" ></li>
        </ul>
        <ul>
          <li class="text">city  :  </li>
          <li><input name="city" type="text" ></li>
        </ul>
        <ul>
          <li class="text">State  :  </li>
          <li><input name="state" type="text" ></li>
        </ul>
        <div class="clear"></div>
        <div class="agile-submit">
          <input type="submit" value="submit">
          <input type="reset" value="reset">
        </div>
        <ul>
     
          <li class="error">PLEASE INSERT APPROPRIATE VALUES</li>
    
      
          <li class="msg">UPDATE SUCCESSFUL</li>
      
        </ul>
        </form>
      </div>  
    </div>
  
    <div class="agile-header">
      <h1>FIRE STAFF</h1>
      <p>Please be sure about this decision. Once done, it is reversible. The staff would receive an e-mail about resignation.</p>
      <div class="agileits-main">
      <div class="wrap">
      <form action="http://localhost:3000/manager/modify/fire" method="post">
        <ul>
          <li id="fireid" class="text">User ID  :  </li>
          <li id="fireinput"><input name="userid" type="text" required></li>
        </ul>
        <div class="clear"></div>
        <div class="agile-submit">
          <input type="submit" value="Confirm">
          <input type="reset" value="reset">
        </div>
        
        </form>
      </div>  
    </div>
    </div>
  
 
      <div style="text-align: center; margin-bottom: 50px;"><label style="color: red; text-align: center;">CANNOT DELETE STAFF</label></div>

   
       <div style="text-align: center; margin-bottom: 50px;"><label style="color: black; text-align: center;">STAFF DATA ERASED</label></div>

       <div style="text-align: center; margin-bottom: 50px;"><label style="color: red; text-align: center;">INVALID EMPLOYEE ID</label></div>
  
        
      </div>
      
      
    </div>
  -->