<div class="container">
	<h1 class="well">Browse</h1>
	<div class="row">
		<div class="col-md-3 col-sm-3" *ngFor="let product of products;let i = index">
			<img src="assets/img/malecostume-512.png" class="thumbnail">
			<h4 class="title">{{product.ProductName}}</h4>
			<div class="description">
				<small>{{ product.ProductDescription.substring(0, 100) }}...</small>
			</div>
			<div class="price">Buy it for <strong>${{ product.ProductPrice}}</strong></div>
			<br>
			<a routerLink="product/{{product._id}}" class="btn btn-primary btn-block">View Book</a>
		</div>
	</div>
</div>
