
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="http://localhost:3000/nurse">Nurse</a>
          </li>
          <li class="breadcrumb-item active">Patients</li>
        </ol>
        <div style="margin-top: 30px" class="agile-header">
      <h1 style="font-size: 38px">SEARCH PATIENT REPORT</h1>
      <div class="agileits-main">
      <div class="wrap">
      <form style="width: 50%; margin-left: 230px;" method="post">
    <div class="form-group">
      <label for="exampleInput">Patient ID</label>
      <input name="pid" type="text" class="form-control" id="pid" aria-describedby="emailHelp" placeholder="Patient ID" required>
    </div>
    <div class="form-group">
      <label for="exampleInput">Date Of Appointment</label>
      <input name="date" type="date" class="form-control" id="date" aria-describedby="emailHelp" required>
    </div>
    <button type="submit" class="btn btn-primary">SEARCH</button>
      </form>
     
        <div><label style="color: red; text-align: center;">RECORD DOES NOT EXIST</label></div>
      
      
      </div>  
    </div>
    </div>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> List of All Patients
          </div>
  
          <div class="card-body">
            <div class="table-responsive">
  
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  
                <thead>
                  <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date Of Appointment</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Room ID</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Date Of Appointment</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Room ID</th>
                    <th>Status</th>
                  </tr>
                </tfoot>
                <tbody>
                 
                      <tr>
                        <td><%= list[i].id %></td>
                        <td><%= list[i].name %></td>
                        <td><%= list[i].doa.getDate() %> - <%= list[i].doa.getMonth() + 1 %> - <%=list[i].doa.getFullYear()%></td>
                        <td><%= list[i].sex %></td>
                        <td><%= list[i].contact %></td>
                        <td><%= list[i].d_id %></td>
                        <td><%= list[i].d_name %></td>
                        <td><%= list[i].room %></td>
                        <td><%= list[i].status %></td>
                      </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Copyright © Your Website 2018</small>
          </div>
        </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="http://localhost:3000/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
     
    </div>
 